body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: url(../img//first-bg.jpg) no-repeat top / cover;
    height: 600px;
}

.container{
    width: 940px;
    border: 1px solid red;
    margin: 0 auto;
 }

div{
    box-sizing: border-box;
}

.logo{
    
    margin-top: 41px;
    float: left;
}

nav{
    float:right;
    margin-top: 50px;
}

.menu{
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float:left;
    display: block;
    margin-right: 40px;
    
}

.menu li a{
    color:beige;
    text-decoration: none;
    text-transform: uppercase;
    
}


.clearfix::after { 
content: ""; 
display: table; 
clear: both; 
}


.titlesfirst{
    font-size: 40px;
    color:white;
}