body{
    margin: 0;
    padding: 0;
}

img{
    width: 450ox;
    height: 300px;
    margin: 15px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.15);
}

h1{
    font-family: 'fantasy';
    border-bottom: 3px solid purple;
    width: 350px;
    text-align: center;
    border-right: 3px solid purple;
    padding-right: 5px;
    font-size: 3em;
    box-shadow: 5px 5px 5px grey;
    padding-bottom: 10px;



}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerHead{
    display:flex;
    justify-content: space-between;

}

li{
    display: inline-block;
    font-size: 2em;
    padding: 10px 10px;
    background-color: grey;
}

li:hover, a:hover{
    background-color: yellow;
    color:black; и

}

ul{
    margin-right: 30px;

}

a{
    text-decoration: none;
    color:#fff;
}


.containerFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 3px solid black;
    background-color: #27556C;
    

}

.containerFooter p{
    color: #B1D981;
}

.containerFooter > p:last-child{
    padding-right: 20px;
}

.containerFooter p:first-child{
    padding-left: 20px;
}